/* Importando fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Estilos do Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: calc(100% - 270px);
    position: fixed;
    left: 270px;
    top: 0;
    z-index: 1001;
}

header:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    margin: 0 35px;
}

.logo:hover {
    transform: scale(1.05);
}

.logo img {
    height: 90px;
    margin-right: 10px;
}

.logo span {
    font-size: 30px;
    color: #100f47;
    display: flex;
    align-items: center;
}

.logo .highlight {
    color: #7fb9ca;
}

.logo i.fas.fa-paw {
    color: #7fb9ca;
    margin: 0 5px;
    font-size: 30px;
}

.btn-cadastrar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #100f47 !important;
    color: white !important;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 15px;
}

.btn-cadastrar:hover {
    background-color: #7fb9ca;
    transform: scale(1.05);
}

/* Estilos para a seção de perfil */
.profile-section {
    position: relative;
    list-style: none;
}

/* Imagem do perfil */
.profile-perfil img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid #7fb9ca;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

/* Menu dropdown */
.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-menu.show {
    display: flex;
    opacity: 1;
}

.dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: var(--secondary-color);
}

.profile-section:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu a {
    transition: background-color 0.3s;
}

/* Menu de Navegação */
nav {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 35px;
}

.nav-list {
    list-style: none;
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 10px;
}

.nav-list li.nav-item {
    margin-left: 15px;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: auto;
}

.nav-list li.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7fb9ca;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-list li.nav-item:hover::after {
    transform: scaleX(1);
}

.nav-list a {
    color: #100f47;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #7fb9ca;
}

/* Estilo do Menu Mobile */
.mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #100f47;
    margin: 8px;
    transition: 0.3s;
}

.admin-container {
    width: 100%;
}

/* Navegação lateral da área administrativa */
.admin-barra-nav {
    width: 270px;
    background-color: #100f47;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    white-space: nowrap;
    padding-top: 70px;
    z-index: 1000;
}

.admin-barra-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.admin-barra-nav li {
    margin: 10px 0;
    display: block;
}

.admin-barra-nav li a {
    font-size: 16px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background 0.3s, color 0.3s;
    gap: 5px;
}

.admin-barra-nav li a:hover {
    background: #7fb9ca;
    color: #100f47;
}

.admin-barra-nav i {
    color: #ffffff;
    width: 30px;
    font-size: 18px;
    text-align: center;
}

.admin-logout {
    position: absolute;
    bottom: 90px;
    margin-bottom: -50px;
}

/* Seção principal da área administrativa */
.admin-main {
    flex: 1;
    margin-left: 200px;
    margin-top: 70px;
    padding: 80px;
    overflow-y: auto;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

/* Cabeçalho da seção principal da área administrativa */
.admin-main-top {
    width: calc(100% - 270px);
    background: #fff;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    margin: 0;
    position: fixed;
    left: 270px;
    top: 126px;
}


/* Estilos do dashboard */
.home-dashboard {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.welcome-message {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 55px;
}

.welcome-message h2 {
    font-size: 24px;
    color: #100f47;
    margin-top: 5px;
}

.welcome-message p {
    font-size: 16px;
    color: #100f47;
    margin-top: 5px;
}

.dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 40px;
}

.stat-item {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 22%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-item i {
    font-size: 30px;
    color: #100f47;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 14px;
    color: #555;
}

.stat-item h3 {
    font-size: 22px;
    color: #100f47;
    margin-top: 5px;
}

.quick-actions {
    margin-bottom: 30px;
    text-align: center;
}

.quick-actions h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #100f47;
}

.quick-actions .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background: #100f47;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quick-actions .btn:hover {
    background: #100f47;
}

/* Estilos das sessões pendentes (Notificações, Ultimos Pets, Tarefas pendentes*/
/* Contêiner para as 3 seções */
.dashboard-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

/* Cada seção individual */
.notifications, .recent-pets, .pending-tasks {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 32%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 45px;
}

.notifications h3, .recent-pets h3, .pending-tasks h3 {
    font-size: 1.5em;
    color: #100f47;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

/* Listas */
.notifications ul, .recent-pets ul, .pending-tasks ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.notifications li, .recent-pets li, .pending-tasks li {
    font-size: 1.1em;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    color: #100f47;
}

.notifications li:last-child, .recent-pets li:last-child, .pending-tasks li:last-child {
    border-bottom: none;
}

.notifications li strong, .recent-pets li strong, .pending-tasks li strong {
    font-weight: bold;
    color: #100f47;
}

.pending-tasks li i {
    color: #3498db;
}

.pending-tasks li i.fas.fa-check-circle {
    color: #4caf50;
}

.pending-tasks li i.fas.fa-exclamation-circle {
    color: #f39c12;
}

.pending-tasks li i.fas.fa-info-circle {
    color: #bdc3c7;
}

.recent-pets li {
    display: flex;
    align-items: center;
}

.recent-pets li span {
    font-size: 0.9em;
    color: #7f8c8d;
}

.recent-pets li span.status {
    font-weight: bold;
}

.recent-pets li span.status.disponivel {
    color: #2ecc71;
}

.recent-pets li span.status.em_analise {
    color: #f39c12;
}

/* Estilos gerais para a tabela */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    table-layout: auto;
    margin-top: -15px;
}

/* Cabeçalhos da tabela */
table th {
    background-color: #100f47;
    color: white;
    padding: 10px 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

/* Estilo das células da tabela */
table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 14px;
    white-space: nowrap;
}

/* Estilo da última célula (ações) */
table td:last-child {
    text-align: center;
    vertical-align: middle;
}

/* Efeito hover nas linhas da tabela */
table tr:hover {
    background-color: #f9f9f9;
}

/* Efeito de foco nas células */
table td:focus,
table th:focus {
    outline: 2px solid #7fb9ca;
}

/* Paginação */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

thead {
    display: table-header-group;
}

tbody tr {
    display: table-row;
}

.pagination a {
    color: #100f47;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #7fb9ca;
    color: white;
}

.pagination a.active {
    background-color: #100f47;
    color: white;
}

/* Formulário de busca */
.form-container {
    margin-left: 50px;
    padding: 20px;
    max-width: calc(100% - 270px);
    box-sizing: border-box;
}

.form-container h2 {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 24px;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

form input[type="text"] {
    padding: 8px;
    font-size: 14px;
    width: 450px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 8px;
    gap: 20px;
}

.form-buttons form {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
    max-width: 600px;
}

.form-buttons input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons button {
    padding: 8px 15px;
    border: none;
    background-color: #100f47;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.form-buttons button:hover {
    background-color: #7fb9ca;
}

/* Estilo do botão de ação */
.btn-acoes {
    background-color: #100f47;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin: 0 5px;
}

.btn-acoes:hover {
    background-color: #7fb9ca;
    transform: scale(1.05);
}

/* Estilos para o botão Cadastrar*/
.btn-cadastrar-list {
    padding: 8px 15px;
    border: none;
    background-color: #100f47;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 5px;
}

.btn-cadastrar-list:hover {
    background-color: #7fb9ca;
}

/* Estilo para os ícones de ação */
.btn-icone {
    color: #100f47;
    font-size: 18px;
    margin: 0 5px;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-icone:hover {
    background-color: #f0f0f0;
    color: #7fb9ca;
}

.btn-icone i {
    vertical-align: middle;
}

/* Responsividade */
@media (max-width: 999px) {
    .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background: #9e9e9e;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-list li {
        margin: 20px 0;
    }

    .nav-list a {
        color: #fff;
        font-size: 20px;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {

    table th,
    table td {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .dashboard-sections {
        flex-direction: column;
        gap: 10px;
    }

    .notifications, .recent-pets, .pending-tasks {
        width: 100%;
    }
}

@media (max-width: 600px) {

    /* Estilo do Header em telas menores */
    header {
        padding: 20px 0px;
    }

    .logo img {
        height: 80px;
        margin-right: 10px;
    }

    .logo span {
        font-size: 24px;
        margin-right: -20px;
    }

    /* Menu de navegação em telas pequenas */
    .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: #9e9e9e;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-list li {
        margin: 15px 0;
    }

    .nav-list a {
        color: #fff;
        font-size: 18px;
    }

    /* Botão de menu (hambúrguer) */
    .mobile-menu {
        display: block;
        z-index: 1000;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 999px) {

    /* Menu lateral escondido em telas menores */
    .admin-barra-nav {
        transform: translateX(-100%);
    }

    .admin-barra-nav.active {
        transform: translateX(0);
    }

    /* Botão para abrir/fechar menu lateral */
    .menu-toggle {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        background-color: #100f47;
        color: #ffffff;
        border: none;
        font-size: 24px;
        z-index: 2000;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }
}